
<h2>カテゴリ一覧</h2><div class="half-frame">
   
<div class="half-box">
 
 <div id="practis"> 
 
    <ul >
     
      <% @categories.each do |ctg| %>
        
       <li><a href="<%= e100_seek_dynamic_pages_path(fstr: ctg.ctg) %>"><%= ctg.ctg %></a></li>
     
       <% end %> 
       
     </ul>

  </div>
 