



<h2 class="hcap">頻出単語トップ100</h2>
 
 <div id="practis"> 
 
    <ul class="tp">
     
      <% @categories4.each do |ctg| %>
        
      　 <li><a href="<%= e100_seek_dynamic_pages_path(fstr: ctg.ctg) %>"><%= ctg.ctg %></a></li>
     
      <% end %> 
       
     </ul>

  </div>
 