
<div class="container">
    

      
     <h3>日常英会話 約６万フレーズを掲載！
  
 <a href="/dynamic_pages/e100">全件表示</a></h3>
  
  <div class="row">
      
　　<div class="col-md-6">
    
    <h4>単語より検索（頻出単語順）</h4>
    
     <ul class="tanbtn" >  
 
         <% @products2.each do |prdct2| %>
             
             <li><a class="textflame" href="<%= ctg_dynamic_pages_path(product_id: prdct2.id) %>"><%= prdct2.pnam %></a>
            
         <% end %>
        
      </ul>
                                                                                                                  
   </div>
    
<div class="col-md-6"> 
    
    <h4>熟語より検索</h4>
     
       <ul class="zyukubtn" >  
 
         <% @products3.each do |prdct3| %>
             
             <li><a class="textflame" href="<%= ctg_dynamic_pages_path(product_id: prdct3.id) %>"><%= prdct3.pnam %></a>
            
        <% end %>
    
      </ul>
  </div> 
 
 </div>

 
</div> 




