// Place all the styles related to the DynamicPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";


.listx li {
 background-color: transparent;
 margin-bottom: 1px;
  margin-bottom: 1px;
    position:absolute; 
    top: -12px; 
    left: 80px;
   
    width: 50px;
    list-style-type: square;
    
    
}
 
.pulldown li { 
    margin-left: 10px;
    position:relative;  
    padding: 5px 10px;
    width: 230px;
    margin-top: 0em;
    list-style-type: disc;
 
}
.tanbtn li { 
    margin-left: 10px;
    position:relative;  
    padding: 5px 10px;
   
    margin-top: 0em;
    list-style-type: none;
    display: inline-block;
 
}

.zyukubtn li { 
    margin-left: 10px;
    position:relative;  
    padding: 5px 10px;
   
    margin-top: 0em;
    list-style-type: none;
    display: inline-block;
 
}



 .pulldown ul{
     
     display:none;
      
 } 


 .textflame {
      background-color: #336699;
	color: #fff;
	display: block;
	width: 30px;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 10px; 

}
 
.textflame:hover {
	background-color:#113366;
	color: #fff;
}	

 
 


 