

 <nav class="navbar  navbar-default">
	
		 <a class="navbar-brand" href="#">
			  
				<span ><i class="fa fa-rebel" style="color: white">カジュアル英語
			
				</i></span>
				
			</a>
			
	<ul class="nav navbar-nav">
			 
			 <li><form method="get" action="/dynamic_pages/e100_seek">
			   
              <input id="result_text2" type="text"  placeholder="検索キーワードを入力" name="fstr" /> 
              <input id="result_btn" type="submit" value="検索" />
              
        </form></li>
       
       <li>
        <button id="mic" type="submit" onclick ="record()">
          <i class="fa fa-microphone fa-2x"></i>
        </button></li>
        <li>
         <span>
         　<select id="select_gengo">
              <option value=0>英語音声入力</option>
              <option value=1>日本語音声入力</option>
            </select>
            
            </span>
            
      </li>
      
      
        
		<li><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></i>
 
			 
      
   </ul>
          
			<!--ラジオボタン使った場合
				// <label><input type="radio" name="ej" value="0" checked>英語</label>
    // <label><input type="radio" name="ej" value="1">日本語</label>-->
    
  </nav> 
  
     

<script>

    /*録音　https://qiita.com/inouet/items/2c9e218c05f547bb6852から*/
    window.SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
    var recognition = new webkitSpeechRecognition();
    // 録音終了時トリガー
      recognition.addEventListener('result', function(event){
          var text = event.results.item(0).item(0).transcript;
          
          $("#result_text2").val(text);
      }, false);
      
  // 録音開始
  function record() {
     　
    var ejval = $("#select_gengo").val(); //音声入力言語値取得 0 :英 1 :日
    alert(ejval);
   //var ejval= $("input[name='ej']:checked").val();　//
    
    if ( ejval==0 ) {
    //英語
   
       recognition.lang = 'en-US';
       
     } else {
    　　//日本語
    　　
    　　recognition.lang = 'ja';
      
    }
    
    recognition.start();
 
  }
   /*ここまで録音*/
 
</script>



